:root{
    --cor-fundo: #7c6f52;
    --cor-principal: #7199bb;
    --cor-secundaria: #a5b1bd;
    --cor-destaque: #dae3e6;
    --cor-texto:#cddfe2;
}

body{
    background-color:var(--cor-fundo);
    color:var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
    
}